<section
    class="mx-auto flex flex-col md:flex-row items-start p-8 bg-[#007BFF] shadow-lg  w-full"
>
    <!-- Columna Izquierda: Texto -->
    <div class="md:w-1/2 p-4">
        <h2 class="text-2xl font-bold text-white mb-6">
            PERFIL EMPRESARIAL
        </h2>
        <div class="mb-6">
            <div class="flex items-start mb-4">
                <img
                    src="/icons/binocular.svg"
                    alt="Icono Visión"
                    class="w-12 h-12 mr-4"
                />
                <div>
                    <h3 class="text-xl font-bold text-white">Visión</h3>
                    <p class="text-white">
                        Ser la empresa preferida por nuestros clientes para
                        asesorar, seleccionar y proveer los mejores productos
                        para los sistemas de acueductos y transporte de agua para riego, mineria e industria.
                    </p>
                </div>
            </div>
            <div class="flex items-start mb-4">
                <img
                    src="/icons/maps.svg"
                    alt="Icono Misión"
                    class="w-12 h-12 mr-4"
                />
                <div>
                    <h3 class="text-xl font-bold text-white">Misión</h3>
                    <p class="text-white">
                        Brindar asesoría, soporte y servicio técnico pre y
                        post-venta en el suministro de productos de reconocida
                        calidad y de las mejores marcas para proveer una
                        solución integral que satisfaga y exceda las necesidades
                        de nuestros clientes en los proyectos de acueductos y
                        alcantarillados, por medio de un servicio excelente.
                    </p>
                </div>
            </div>
            <div class="flex items-start">
                <img
                    src="/icons/goal.svg"
                    alt="Icono Objetivos"
                    class="w-12 h-12 mr-4"
                />
                <div>
                    <h3 class="text-xl font-bold text-white">Objetivos</h3>
                    <p class="text-white">
                        Establecernos como la empresa lider, para la importación, asesoría e
                        instalación de sistemas de acueductos.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Columna Derecha: Imagen -->
    <div class="md:w-1/2 p-4">
        <img
            src="/nosotros.jpg"
            alt="Imagen de la empresa"
            class="w-full h-auto rounded-lg shadow-lg"
        />
    </div>
</section>
